{% extends 'template.html' %}

{% block title %}
    Profile
{% endblock %}

{% block header %}
    <a class="nav-link active" href="{{ url_for('profile_route', username= user['username'] ) }}">Profile</a>
    <a class="nav-link" href="{{ url_for('finder_route') }}">Finder</a>
    <a class="nav-link" href="{{ url_for('logout_route') }}">Logout</a>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center" style="background: #222;">
        <img src="{{ url_for('static', filename = 'img/profile.png') }}" alt="profile-image" id="profile-image" style="border-radius: 30%; width: 125px;">
        <h2 class="border-bottom pb-3">{{ user['username'] }}</h2>

        <div class="row">
            <div class="col">
                <span style="color: turquoise">Email:</span>
                <span>{{ user['email'] }}</span>
            </div>
            <div class="col">
                <span style="color: turquoise">Phone:</span>
                <span>+91-{{ user['phone'] }}</span>
            </div>
        </div>
        <div class="border-bottom pb-2"></div>

        <div class="mt-2 text-center">
            <h6 style="color:#01FF70;">Friends- [Total- {{ user['numFriends'] }}]</h6>
            {% if user['friends'] %}
                {% for friend in user['friends'] %}
                    <div>
                        <a href="{{ url_for('profile_route', username=friend) }}" style="color:#3D9970;">{{ friend }}</a>
                    </div>
                {% endfor %}
            {% else %}
                User has no friends..
            {% endif %}
        </div>
    </div>
{% endblock %}
